table td {
	border: 1px solid black;
	width: 40px;
	height: 40px;
	text-align: center;
}

table {
	border-collapse: collapse;
	margin: 40px auto;
}

.circle {
	width: 36px;
	height: 36px;
}

.black {
	background: black;
}

.white {
	background: white;
}

.selected {
	background: yellow;	
}

.green {
	background: green;
}

#nextPawn img {
	width: 36px;
	height: 36px;
}

#pawn {
	text-align: center;
}

#pawn span {
	display: inline-block;
	vertical-align: middle;
}

#content {
	margin: -20px;
}

#killed_red, #killed_blue {
	height: 40px;
}